@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Unica+One&display=swap');

@font-face {
    font-family: Clash Display;
    src: url(assets/ClashDisplay-Bold.otf);
    font-weight: normal;
}

:root {
    --ff1: Clash Display;
    --ff2: 'Montserrat', sans-serif;
    --ff3: 'Inter', sans-serif;
    --ff4: 'Unica One', cursive;
    --clr-gradient: linear-gradient(to left, #903AFF, #FE34B9);
    --clr-dark-purple: #150E28;
    --clr-medium-purple: #903AFF;
    --clr-light-purple: #D434FE;
    --clr-white: #FFFFFF;
    --transition: all 0.2s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: transparent;
    border: none;
    padding: none;
    cursor: pointer;
    transition: var(--transition);
}

/* MOBILE VIEW */
body {
    margin: 0vw;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    color: var(--clr-white);
    background-color: var(--clr-dark-purple);
    background-image: url(assets/contact-bgmobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0vw 0vw;
}

.header {
    display: none;
}

.back-btn {
    margin: 8vw 10vw;
    align-self: flex-start;
    padding: 2vw;
}

.back-btn img {
    transform: scale(1.25);
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80vw;
    padding: 2vw 10vw;
}

.form-header {
    display: flex;
    flex-direction: column;
}

.form-header-header {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    font-weight: 600;
    font-family: var(--ff1);
    width: 60vw;
    color: var(--clr-light-purple)
}

.form-header-body {
    font-family: var(--ff2);
    font-size: 0.9em;
    margin: 8vw 0vw 4vw 0vw;
    width: 75vw
}

.contact-form {
    margin: 2vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 1em;
    color: var(--clr-white);
    font-family: var(--ff2);
    font-weight: 500;
    padding: 4vw 6vw;
    margin: 3vw 0vw;
    background-color: transparent;
    border: 1px solid var(--clr-white);
    border-radius: 1vw;
    width: 68vw;
    opacity: 0.9;
    cursor: pointer
}

::placeholder {
    color: var(--clr-white);
    opacity: 0.75;
}

textarea {
    font-size: 1em;
    color: var(--clr-white);
    font-family: var(--ff2);
    padding: 6vw;
    margin: 3vw 0vw;
    background-color: transparent;
    border: 1px solid var(--clr-white);
    border-radius: 1vw;
    width: 68vw;
    opacity: 0.9;
}

.submit-btn {
    color: var(--clr-white);
    background-image: var(--clr-gradient);
    padding: 3vw 10vw;
    font-size: 0.9em;
    font-family: var(--ff2);
    justify-content: center;
    font-weight: 500;
    border: 1px solid var(--clr-dark-purple);
    border-radius: 1vw;
    margin: 4vw 0vw;
}

.contact-info {
    display: none;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vw 0vw;
}

.social-links-header {
    color: var(--clr-light-purple);
    font-weight: 500;
    font-family: var(--ff2);
    font-size: 0.8em;
}

.social-links-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vw 0vw 0vw 0vw;
}

.social-link {
    padding: 0vw;
    align-items: center;
    margin: 0vw 1.5vw;
}

.social-link img {
    width: 5vw;
    height: 5vw
}


/* WEB VIEW  SCREEN >= 768PX*/
@media screen and (min-width: 768px) {
    body {
        margin: 0vw;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }

    .header {
        padding: 4vw 8vw 2vw 8vw;
    }

    .logo img {
        width: 10vw;
        height: auto;
    }

    .menu-btn {
        display: none;
    }

    .menu {
        position: relative;
        height: auto;
        width: auto;
        transform: translate(0%);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .close-btn {
        display: none;
    }

    .register-btn1 button {
        margin: 0vw 3vw 0vw 4vw;
        padding: 1vw 3vw;
        border-radius: 0.25vw;
        border: 1px solid var(--clr-dark-purple);
        transition: var(--transition);
        cursor: pointer;
        font-size: 0.75em;
    }

    .register-btn1 button:hover {
        background-image: none;
        background-color: inherit;
        color: var(--clr-white);
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(180deg , #903AFF, #FE34B9) 1;
    }

    .menu-links {
        display: flex;
        flex-direction: row;
        margin: 0vw;
        font-size: 0.75em;
    }

    .menu-link {
        padding: 0vw 1.5vw;
        font-weight: 400;
        cursor: pointer;
        transition: var(--transition);
    }

    .menu-link:hover {
        background: linear-gradient(to right, #903aff 0%, #fe34b9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.back-btn {
    margin: 8vw 10vw;
    align-self: flex-start;
    padding: 2vw;
}

.back-btn img {
    transform: scale(1.25);
}

.form-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80vw;
    padding: 2vw 10vw;
}

.form-header {
    display: flex;
    flex-direction: column;
}

.form-header-header {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    font-weight: 600;
    font-family: var(--ff1);
    width: 60vw;
    color: var(--clr-light-purple)
}

.form-header-body {
    font-family: var(--ff2);
    font-size: 0.9em;
    margin: 8vw 0vw 4vw 0vw;
    width: 75vw
}

.contact-form {
    margin: 2vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 1em;
    color: var(--clr-white);
    font-family: var(--ff2);
    font-weight: 500;
    padding: 4vw 6vw;
    margin: 3vw 0vw;
    background-color: transparent;
    border: 1px solid var(--clr-white);
    border-radius: 1vw;
    width: 68vw;
    opacity: 0.9;
    cursor: pointer
}

::placeholder {
    color: var(--clr-white);
    opacity: 0.75;
}

textarea {
    font-size: 1em;
    color: var(--clr-white);
    font-family: var(--ff2);
    padding: 6vw;
    margin: 3vw 0vw;
    background-color: transparent;
    border: 1px solid var(--clr-white);
    border-radius: 1vw;
    width: 68vw;
    opacity: 0.9;
}

.submit-btn {
    color: var(--clr-white);
    background-image: var(--clr-gradient);
    padding: 3vw 10vw;
    font-size: 0.9em;
    font-family: var(--ff2);
    justify-content: center;
    font-weight: 500;
    border: 1px solid var(--clr-dark-purple);
    border-radius: 1vw;
    margin: 4vw 0vw;
}

.contact-info {
    display: none;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2vw 0vw;
}

.social-links-header {
    color: var(--clr-light-purple);
    font-weight: 500;
    font-family: var(--ff2);
    font-size: 0.8em;
}

.social-links-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vw 0vw 0vw 0vw;
}

.social-link {
    padding: 0vw;
    align-items: center;
    margin: 0vw 1.5vw;
}

.social-link img {
    width: 5vw;
    height: 5vw
}
}