@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Clash Display;
    src: url(assets/FontsFree-Net-ClashDisplay-Variable.ttf);
    font-weight: normal;
}

:root {
    --ff1: Clash Display;
    --ff2: 'Montserrat', sans-serif;
    --clr-gradient: linear-gradient(to left, #903AFF, #FE34B9);
    --clr-dark-purple: #150E28;
    --clr-medium-purple: #903AFF;
    --clr-light-purple: #D434FE;
    --clr-white: #FFFFFF;
    --transition: 0.2s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: inherit;
    border: none;
    padding: none;
}

body {
    margin: 0vw;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    font-family: var(--ff1);
    color: var(--clr-white);
    background-color: var(--clr-dark-purple);
}

.header {
    display: flex;
    flex-direction: row;
    padding: 6vw 8vw 4vw 6vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #efd6f528;
}

.menu-btn {
    padding: 2vw;
}