@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Unica+One&display=swap');

@font-face {
    font-family: Clash Display;
    src: url(assets/ClashDisplay-Bold.otf);
    font-weight: normal;
}

:root {
    --ff1: Clash Display;
    --ff2: 'Montserrat', sans-serif;
    --ff3: 'Inter', sans-serif;
    --ff4: 'Unica One', cursive;
    --clr-gradient: linear-gradient(to left, #903AFF, #FE34B9);
    --clr-dark-purple: #150E28;
    --clr-medium-purple: #903AFF;
    --clr-light-purple: #D434FE;
    --clr-white: #FFFFFF;
    --transition: all 0.2s ease;
}

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

button {
    background-color: inherit;
    border: none;
    padding: none;
}

body {
    margin: 0vw;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    color: var(--clr-white);
    background-color: var(--clr-dark-purple);
}

.header {
    display: flex;
    flex-direction: row;
    padding: 6vw 8vw 4vw 8vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #efd6f528;
}

.menu-btn {
    padding: 2vw;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0vw;
    padding: 0vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: var(--transition);
    transform: translate(100vw);
    background-color: var(--clr-dark-purple);
}

/* menu toggle start*/
.open {
    transform: translate(0vw);
}

/* menu toggle end*/

.close-btn {
    margin: 6vw 8vw;
    padding: 2vw;
    align-self: flex-end;
}

.menu-links {
    display: flex;
    flex-direction: column;
    margin: 4vw 0vw;
}

.menu-link {
    text-decoration: none;
    color: var(--clr-white);
    font-family: var(--ff3);
    font-weight: 500;
    font-size: 1.1em;
    padding: 3vw 12vw;
}

.register-btn1 button {
    color: var(--clr-white);
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 1em;
    padding: 5vw 16vw;
    margin: 4vw 12vw;
    border-radius: 1vw;
    background-image: var(--clr-gradient);
}

.title {
    display: flex;
    flex-direction: column;
}

.register {
    display: flex;
    flex-direction: column;
    background-image: url(assets/purple-lens-flare.svg);
    background-repeat: no-repeat;
    background-size: contain; 
    align-items: center;
}

.ignite {
    width: 80vw;
    height: auto;
    padding: 8vw 0vw 2vw 0vw;
}

.page-title {
    width: 76vw;
    height: auto;
}

.title span {
    font-family: var(--ff2);
    font-weight: 400;
    margin: 4vw 10vw;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.6;
}

.register-btn2 button {
    color: var(--clr-white);
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 1em;
    padding: 4vw 12vw;
    margin: 4vw 12vw;
    border-radius: 1vw;
    background-image: var(--clr-gradient);
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0vw 2vw;
}

.time h1 {
    font-family: var(--ff4);
    font-weight: 400;
    font-size: 2.5em;
    margin: 2vw 0vw;
}

.time span {
    margin: 0vw;
    font-family: var(--ff2);
    font-weight: 400;
}

.hero {
    height: auto;
    width: 100vw;
    border-bottom: 0.5px solid #efd6f528;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vw 8vw 10vw 8vw;
    text-align: center;
    border-bottom: 0.5px solid #efd6f528;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.intro-text-h1 {
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.2em;
}

.intro-text-h2 {
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.2em;
    color: var(--clr-light-purple);
}

.intro-text-body {
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 0.85em;
    margin: 2vw 0vw;
    line-height: 1.6;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw 0vw 10vw 0vw;
    text-align: center;
    border-bottom: 0.5px solid #efd6f528;
    background-image: url(assets/purple-lens-flare.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0vw -15vw;
}

.rules-text {
    display: flex;
    flex-direction: column;
    background-image: url(assets/purple-lens-flare-right.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
}

.rules-text-h1 {
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.2em;
}

.rules-text-h2 {
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.2em;
    color: var(--clr-light-purple);
}

.rules-text-body {
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 0.85em;
    margin: 2vw 8vw;
    line-height: 1.6;
}

.judging {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw 0vw 10vw 0vw;
    text-align: center;
    border-bottom: 0.5px solid #efd6f528;
    background-image: url(assets/purple-lens-flare.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0vw -15vw;
}

.judging-text {
    display: flex;
    flex-direction: column;
    background-image: url(assets/purple-lens-flare-right.svg);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: right;
}

.judging-text-h1 {
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.2em;
}

.judging-text-h2 {
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.2em;
    color: var(--clr-light-purple);
}

.judging-text-body {
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 0.85em;
    margin: 2vw 8vw;
    line-height: 1.6;
}

.purple {
    color: var(--clr-light-purple);
    font-weight: 700;
}

.read-more-btn {
    color: var(--clr-white);
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 1em;
    padding: 2vw 6vw;
    margin: 2vw 0vw;
    border-radius: 1.25vw;
    background-image: var(--clr-gradient);
    font-size: 0.85em;
}